@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Bricolage+Grotesque:opsz,wght@12..96,200&family=Corben&family=Inter+Tight&family=Trocchi&display=swap');

body {
  margin-top: 25px;
  font-family: 'Bricolage Grotesque', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.heading {
  font-family: 'Bricolage Grotesque', sans-serif;
  margin-top: 25px;
  margin-left: 20px;
  color: rgb(45, 45, 199);
}

p {
  margin-left: 20px;
  width: 50%;
}

h1.logo {
  font-family: 'Corben', serif;
  margin-top: 25px;
  text-align: center;
  font-size: 50px;
}

div {
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 5px;
}

h2 {
  margin-left: 40px;
}

h3 {
  margin-left: 20px;
}

.navbar {
  color: aqua;
}

h2.accordion-header{
  margin:0;
}

a.nav-link {
  font-size: 20px;
}

div.container{
  margin-left: unset;
}

div.accordion {
  --bs-accordion-active-bg: white;
  --bs-accordion-btn-focus-box-shadow: white;
}

div.accordion-item{
  margin:auto;
  border:none;
}

button.accordion-button {
  width:auto;
}

.accordion-button:focus {
  box-shadow: white;
}

input.form-control {
  width:50%;
}

img {
  width:300px;
  height:350px;
  border-radius: 50%;
}

div.accordion-body{
  margin-left: 35px;
}