@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

img.group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  border-radius: initial;
  border: 10px solid;
  border-color: #FFB9FB;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  border-radius: initial;
  border: 10px solid;
  border-color: #FFB9FB;
}

nav.navbar.navbar-expand.navbar-light.bg-primary {
  background-color: #FFB9FB !important;
}

a.nav-link {
  font-weight: bold;
  font-family: 'Hedvig Letters Sans', sans-serif;
}

body {
  margin-top: 25px;
  font-family: 'Hedvig Letters Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.heading {
  font-family: 'Hedvig Letters Sans', sans-serif;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 20px;
  color: #95C5FF;
}

h1.heading-center {
  font-family: 'Hedvig Letters Sans', sans-serif;
  font-weight: bold;
  margin-top: 35px;
  text-align: center;
  color: #95C5FF;
  font-size: 50px;
}

h3.officer {
  font-weight: bold;
  font-family: 'Hedvig Letters Sans', sans-serif;
}

h5.role {
  font-family: 'Hedvig Letters Sans', sans-serif;
}

p.desc {
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
  font-family: 'Hedvig Letters Serif', serif;
}

h1.logo {
  font-family: 'Hedvig Letters Sans', sans-serif;
  margin-top: 25px;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  font-weight: bold;
}

h3.logo2 {
  text-align: center;
  font-family: 'Hedvig Letters Serif', serif;
  padding-bottom: 30px;
  color: grey;
  font-weight: bold;
}

div {
  font-family: 'Bricolage Grotesque', sans-serif;
}

h2 {
  margin-left: 40px;
}

.navbar {
  color: aqua;
}

h2.accordion-header{
  margin:0;
}

a.nav-link {
  font-size: 20px;
}

div#nav.container{
  margin-left: unset; 
}

div#officer {
  margin: auto;
  padding: 10px;
}

div.accordion {
  --bs-accordion-active-bg: white;
  --bs-accordion-btn-focus-box-shadow: white;
}

div.accordion-item{
  margin:auto;
  border:none;
}

button.accordion-button {
  width:auto;
}

.accordion-button:focus {
  box-shadow: white;
}

input.form-control {
  width:25%;
}

textarea.form-control {
  width: 25%;
}

div.accordion-body{
  margin-left: 35px;
}

div.ml-auto.navbar-nav {
  margin-right: -200px;
}

h2.role {
  margin-left: 13%
}

button#logout.btn.btn-primary {
  margin-top: 20px;
  margin-left: 20px;
}

button#edit.btn.btn-primary {
  margin-top: 15px;
}

button#back.btn.btn-primary {
  margin-top: 15px;
  margin-bottom: 10px;
  --bs-btn-bg: #FFB9FB;
  --bs-btn-border-color: #FFB9FB;
  --bs-btn-hover-bg: #fa9bf4;
  --bs-btn-hover-border-color:#fa9bf4;
}

button#editProfile.btn.btn-primary {
  margin-left: 20px;
}

img.card-img-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 425px;
}


h2.danceName {
  font-family: 'Questrial', sans-serif;
  padding-top: 5px;
  padding-bottom: 0px;
  font-weight: bold;
  text-align: center;
}

p.dance {
  font-family: 'Hedvig Letters Sans', sans-serif;
  text-align: center;
}

a.officers-route {
  text-decoration: none;
}

div#dances.container {
  text-align: center;
  background-color: #e3e3e3;
  border-radius: 30px;
  width: 80%;
  height: 80%;
  padding-top: 15px;
  padding-bottom:15px;
}

div#profiles.container{
  margin-left: 0px; 
}

form {
  margin-left: 20px;
}

p.acc {
  margin-left: 20px;
  font-family: 'Hedvig Letters Serif', serif;
  width: 40%;
  margin-bottom: 20px;
}

p.profile {
  margin-left: 20px;
  font-family: 'Hedvig Letters Serif', serif;
}

h4.profile {
  margin-left: 20px;
  font-family: 'Hedvig Letters Serif', serif;
}

h4.role {
  margin-left: 20px;
  font-family: 'Hedvig Letters Serif', serif;
  font-weight: bold;
}


